---
import Layout from '~/layouts/PageLayout.astro';
import Prices3 from '~/components/widgets/Pricing3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Magick Media - Google Ads (SEA)',
  description:'Google adverteren (Ads) graag uitbesteden? Wij zorgen voor een groei aan bezoekers en het verhogen van je omzet!',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->
  <Hero
    tagline="Google Ads (SEA)"
    actions={[
      {
        variant: 'primary',
        text: 'Plan een gesprek',
        href: '/plan-een-gesprek/',
      },
      { text: 'Tarieven', href: '#tarieven' },
    ]}
  >

    <Fragment slot="title">
      Google Ads uitbesteden? Wij van <span class='text-accent dark:text-accent highlight'> Magick Media</span> regelen het voor je!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        Snel resultaat behalen, groei in bezoekers en je omzet verhogen? Wij zorgen dat je goed vindbaar bent met Google Ads!
      </span>
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    title="De voordelen van Zoekmachine Adverteren (SEA) bij Magick Media."
    subtitle="Dit is waarom adverteren met Google Ads bij jou kan passen."
    columns={2}
    items={[
      {
        title: 'Snel resultaat',
        description: "In tegenstelling tot <a href='/zoekmachine-optimalisatie-seo/' title='Zoekmachine optimalisatie (SEO)' class='text-primary dark:text-white highlight'>Zoekmachine optimalisatie (SEO)</a> kun je met Google adverteren vrijwel direct resultaat behalen. Na het opzetten van de campagne, worden de advertenties vaak binnen enkele uren al getoond bovenaan de zoekresultaten.",
        icon: 'tabler:brand-speedtest',
      },
      {
        title: 'Doelgerichte advertenties',
        description: 'Toon je advertenties gericht op basis van zoekwoorden, locaties, interesses of demografische gegevens. Hierdoor kun je je boodschap gericht aanpassen voor de mensen die de advertentie gaan zien.',
        icon: 'tabler:target',
      },
      {
        title: 'Volledige controle over advertenties en budget',
        description: 'Je hebt volledige controle over hoe je advertentie eruitziet, welke varianten er worden getoond en hoeveel budget er per maand uitgegeven mag worden. Je betaalt Google pas als er op de advertentie wordt geklikt. Dit samen zorgt ervoor dat je nooit meer betaalt dan gedacht.',
        icon: 'tabler:adjustments-dollar',
      },
      {
        title: 'Diverse soorten advertenties',
        description: 'Bij Google Ads heb je de keuze uit verschillende soorten advertenties, zoals tekstadvertenties, shoppingadvertenties, displayadvertenties en videoadvertenties. Wij geven je graag advies wat het beste bij je past.',
        icon: 'tabler:box-multiple',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />
  
  
  <!-- Pricing2 Widget ******************* -->

  <Prices3
    title="Tarieven"
    subtitle="Onze prijzen voor deze dienstverlening"
    id="tarieven"
    prices={[
      {
        title: 'Landingspagina',
        subtitle: 'Een landingspagina die goed scoort',
        price: 499,
        period: 'per pagina',
        items: [
          {
            description: 'Design en ontwikkeling',
          },
          { 
            description: 'Conversie optimalisatie',
          }, 
          {
            description: 'Tracking van conversie',
          },
        ],
        callToAction: {
          text: 'Plan een gesprek',
          href: '/plan-een-gesprek/',
        }
      },
      {
        title: 'Inrichting',
        subtitle: 'Wij richten de advertenties voor je in',
        price: 799,
        period: 'per campagne',
        items: [
          { 
            description: 'Keuze uit verschillende campagnes',
          }, 
          { 
            description: 'max. 4 Ad groups',
          }, 
          {
            description: 'Advertenties optimaal laten renderen',
          },
        ],
        callToAction: {
          text: 'Plan een gesprek',
          href: '/plan-een-gesprek/',
        },
      },
      {
        title: 'Monitoring & Optimalisatie',
        subtitle: '',
        price: 149,
        period: 'per maand',
        items: [
          {
            description: 'A/B testen elementen',
          },
          {
            description: 'Zoektermen toevoegen of uitsluiten',
          },
          {
            description: 'Maandelijkse rapportages',
          }
        ],
        callToAction: {
          text: 'Plan een gesprek',
          href: '/plan-een-gesprek/',
        },
      }
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Jouw Google Ads live in deze 7 stappen "
    tagline="ons proces"
    isReversed={true}
    items={[
      {
        title: 'Kennismaking en intake',
        icon: 'tabler:number-1',
      },
      {
        title: 'Offerte met scope',
        icon: 'tabler:number-2',
      },
      {
        title: 'Inrichten Google Ads account',
        icon: 'tabler:number-3',
      },
      {
        title: 'Aanmaken campagne',
        icon: 'tabler:number-4',
      },
      {
        title: 'Inrichten advertenties',
        icon: 'tabler:number-5',
      },
      {
        title: 'Advertenties live',
        icon: 'tabler:number-6',
      },
      {
        title: 'Monitoring en optimalisatie',
        icon: 'tabler:number-7',
      },
    ]}
    image={{
      src: '/_astro/google-ads-sea-uitbesteden-proces.YsbJMVOS.jpg',
      alt: 'Google Ads SEA uitbesteden proces',
    }}
  />

<!-- Testimonials Widget *********** -->

<Testimonials
title="Wat onze klanten zeggen"
testimonials={[
  {
    testimonial: `De hosting van de website 'jouw gemeente mijn gemeente' hosten we sinds een tijdje via Magick Media. We zijn daar erg tevreden over. De lijntjes zijn kort. Dit resulteert in snelle antwoorden op onze vragen.`,
    name: 'Cora',
    job: 'Pink Roccade',
  },
  {
    testimonial: `Ik ken Mick van Magick Media als een iemand die een goed gevoel heeft voor wat zijn klanten willen en daar flexibel op in weet te spelen. Hij is betrokken, heeft kennis van zaken en is open. Door de persoonlijke aanpak staat Magick Media voor mij apart van het gros van de andere partijen waar je nadat een dienst bij ze afneemt, nooit meer iets van hoort.`,
    name: 'Marco',
    job: 'Work in Flow',
  },
  {
    testimonial: `De hosting van mijn website heb ik via Magick Media geregeld, ik ben erg blij met hoe snel en gemakkelijk dit geregeld is. Ik ben zelf webdesigner dus een goede hosting partij is voor mij erg belangrijk. Daarnaast heb ik af en toe wat vragen of extra wensen en tot nu toe werd er dan telkens snel geschakeld. Echt een super goede service en korte lijntjes, ik ben blij dat ik voor Magick Media gekozen heb en ga hem ook aanraden voor mijn eigen klanten die een (nieuwe) hosting partij zoeken.`,
    name: 'Ronne',
    job: 'Ronne Design',
  },
  {
    testimonial: `Als eigenaar van boekhoudkantoor Allooi ben ik zeer tevreden met de website gemaakt door Magick Media. Dankzij hun aandacht voor detail, creativiteit en technische expertise hebben we een aantrekkelijke en functionele site gekregen. Dankzij het persoonlijk contact, responsieve houding en bereidheid tot aanpassingen hebben we onze online aanwezigheid geoptimaliseerd, wat heeft geleid tot een toename van klanten. Ik beveel Magick Media dus zeker aan.`,
    name: 'Leroy',
    job: 'Allooi Boekhouders & Belastingadviseurs',
  },
  {
    testimonial: `Super tevreden!! Duidelijke communicatie en no noncense!!! Heldere afspraken en geen gedoe! Zeer zeker een aanrader!!!!👍`,
    name: 'Belinda',
    job: 'Ribadogfood & more',
  },
]}
/>

<!-- Structured data reviews ******* -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Magick Media",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "5"
    },
    "review": [
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Cora"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "De hosting van de website 'jouw gemeente mijn gemeente' hosten we sinds een tijdje via Magick Media. We zijn daar erg tevreden over. De lijntjes zijn kort. Dit resulteert in snelle antwoorden op onze vragen."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Marco"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Ik ken Mick van Magick Media als iemand die een goed gevoel heeft voor wat zijn klanten willen en daar flexibel op in weet te spelen. Hij is betrokken, heeft kennis van zaken en is open. Door de persoonlijke aanpak staat Magick Media voor mij apart van het gros van de andere partijen waar je nadat een dienst bij ze afneemt, nooit meer iets van hoort."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Ronne"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "De hosting van mijn website heb ik via Magick Media geregeld, ik ben erg blij met hoe snel en gemakkelijk dit geregeld is. Ik ben zelf webdesigner dus een goede hosting partij is voor mij erg belangrijk. Daarnaast heb ik af en toe wat vragen of extra wensen en tot nu toe werd er dan telkens snel geschakeld. Echt een super goede service en korte lijntjes, ik ben blij dat ik voor Magick Media gekozen heb en ga hem ook aanraden voor mijn eigen klanten die een (nieuwe) hosting partij zoeken."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Leroy"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Als eigenaar van boekhoudkantoor Allooi ben ik zeer tevreden met de website gemaakt door Magick Media. Dankzij hun aandacht voor detail, creativiteit en technische expertise hebben we een aantrekkelijke en functionele site gekregen. Dankzij het persoonlijk contact, responsieve houding en bereidheid tot aanpassingen hebben we onze online aanwezigheid geoptimaliseerd, wat heeft geleid tot een toename van klanten. Ik beveel Magick Media dus zeker aan."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Belinda"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Super tevreden!! Duidelijke communicatie en no nonsense!!! Heldere afspraken en geen gedoe! Zeer zeker een aanrader!!!!👍"
      }
    ]
  }
  </script>

<!-- HighlightedPosts Widget ******* -->

<BlogLatestPosts
title="Onze laatste blogposts"
/>

<!-- CallToAction Widget *********** -->

<CallToAction
title="Klaar voor <span class='text-accent dark:text-white highlight'>Magische</span> Google Ads?"
subtitle="Wacht niet langer en neem contact met ons op.</br> Wij gaan graag voor jou aan de slag!"
actions={[
  {
    variant: 'primary',
    text: 'Plan een gesprek',
    href: '/plan-een-gesprek/',
  },
]}
/>

<!-- FAQs Widget ******************* -->

<FAQs
title="Wat klanten willen weten"
subtitle="Het is belangrijk dat al jouw vragen beantwoord zijn. Daarom hebben we een aantal veelgestelde vragen hieronder neer gezet. Toch nog andere vragen? Neem dan gerust <a href='/contact/' title='Neem contact op voor vragen aan Magick Media' class='text-link dark:text-link'>contact</a> met ons op."
tagline="Veelgestelde vragen"
classes={{ container: 'max-w-6xl' }}
items={[
  {
    title: 'Welke metrieken worden gevolgd om de prestaties van de campagnes te evalueren?',
    description:
      "De belangrijkste metrieken die we gebruiken om de prestaties van de campagne te beoordelen zijn onder andere klikfrequentie (CTR), conversieratio, kosten per klik (CPC) en Return on Ad Spend (ROAS). Deze metrieken vergelijken we ook met onze concurrenten. Daarnaast zorgen we ervoor dat de advertenties natuurlijk optimaal scoren op indicatoren van gebruiksvriendelijkheid. Deze gegevens stelt ons in staat om jouw campagne te optimaliseren om betere resultaten te behalen.",
  },
  {
    title: 'Wat zijn mijn totale kosten?',
    description:
      "Hierboven hebben we de tarieven van onze dienstverlening omschreven. Let wel op, je heb ook een budget nodig in jouw Google Ads account om de advertenties te runnen. Dit zijn dus kosten rechtstreeks bij Google.",
  },
]}
/>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {
        "@type": "Question",
        "name": "Welke metrieken worden gevolgd om de prestaties van de campagnes te evalueren?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "De belangrijkste metrieken die we gebruiken om de prestaties van de campagne te beoordelen zijn onder andere klikfrequentie (CTR), conversieratio, kosten per klik (CPC) en Return on Ad Spend (ROAS). Deze metrieken vergelijken we ook met onze concurrenten. Daarnaast zorgen we ervoor dat de advertenties natuurlijk optimaal scoren op indicatoren van gebruiksvriendelijkheid. Deze gegevens stelt ons in staat om jouw campagne te optimaliseren om betere resultaten te behalen."
        }
      },
      {
        "@type": "Question",
        "name": "Wat zijn mijn totale kosten?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Hierboven hebben we de tarieven van onze dienstverlening omschreven. Let wel op, je heb ook een budget nodig in jouw Google Ads account om de advertenties te runnen. Dit zijn dus kosten rechtstreeks bij Google."
        }
      }
    ]
  }
  </script>
  

</Layout>
