---
import Layout from '~/layouts/PageLayout.astro';
import Prices3 from '~/components/widgets/Pricing3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Magick Media - Google Ads (SEA).',
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->
  <Hero
    tagline="Google Ads (SEA)"
    actions={[
      {
        variant: 'primary',
        text: 'Interesse',
        href: '/contact',
      },
      { text: 'Tarieven', href: '#tarieven' },
    ]}
  >
    <Fragment slot="title">
      Google Ads uitbesteden? Wij van <span class='text-accent dark:text-white highlight'> Magick Media</span> regelen het voor je!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        Snel resultaat behalen, groei in bezoekers en je omzet verhogen? Wij zorgen dat je goed vindbaar bent met Google Ads!
      </span>
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    title="De voordelen van Zoekmachine Adverteren (SEA) bij Magick Media."
    subtitle="Dit is waarom adverteren met Google Ads bij jou kan passen."
    columns={2}
    items={[
      {
        title: 'Snel resultaat',
        description: "In tegenstelling tot <a href='/zoekmachine-optimalisatie-seo' title='Zoekmachine optimalisatie (SEO)' class='text-primary dark:text-white highlight'>Zoekmachine optimalisatie (SEO)</a> kun je met Google adverteren vrijwel direct resultaat behalen. Na het opzetten van de campagne, worden de advertenties vaak binnen enkele uren al getoond bovenaan de zoekresultaten.",
        icon: 'tabler:brand-speedtest',
      },
      {
        title: 'Doelgerichte advertenties',
        description: 'Toon je advertenties gericht op basis van zoekwoorden, locaties, interesses of demografische gegevens. Hierdoor kun je je boodschap gericht aanpassen voor de mensen die de advertentie gaan zien.',
        icon: 'tabler:target',
      },
      {
        title: 'Volledige controle over advertenties en budget',
        description: 'Je hebt volledig controle over hoe je advertentie eruit ziet, welke varianten er worden getoond en hoeveel budget er per maand uitgegeven mag worden. Zo betaal je aan Google nooit meer dan gedacht.',
        icon: 'tabler:adjustments-dollar',
      },
      {
        title: 'Diverse soorten advertenties',
        description: 'Bij Google Ads heb je de keuze uit verschillende soorten advertenties, zoals tekstadvertenties, shoppingadvertenties, displayadvertenties en videoadvertenties. Wij geven je graag advies wat het beste bij je past.',
        icon: 'tabler:box-multiple',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />
  
  
  <!-- Pricing2 Widget ******************* -->

  <Prices3
    title="Tarieven"
    subtitle="Onze prijzen voor deze dienstverlening"
    id="tarieven"
    prices={[
      {
        title: 'Landingspagina',
        subtitle: '',
        price: 499,
        period: 'per pagina',
        items: [
          {
            description: 'Design en ontwikkeling',
          },
          { 
            description: 'Conversie optimalisatie',
          }, 
          {
            description: 'Tracking van conversie',
          },
        ],
        callToAction: {
          text: 'Interesse',
          href: 'contact',
        }
      },
      {
        title: 'Inrichting',
        subtitle: 'Wij richten de advertenties voor je in.',
        price: 799,
        period: 'per campagne',
        items: [
          { 
            description: 'Keuze uit verschillende campagnes',
          }, 
          { 
            description: 'max. 4 Ad groups',
          }, 
          {
            description: 'Advertenties optimaal laten renderen',
          },
          {
            description: 'Exclusief landingspagina*',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Interesse',
          href: '/contact',
        },
      },
      {
        title: 'Monitoring & Optimalisatie',
        subtitle: 'Voor het beste resultaat',
        price: 149,
        period: 'per maand',
        items: [
          {
            description: 'A/B testen elementen',
          },
          {
            description: 'Zoektermen toevoegen of uitsluiten',
          },
          {
            description: 'Maandelijkse rapportages',
          }
        ],
        callToAction: {
          text: 'Interesse',
          href: '/contact',
        },
      }
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Jouw Google Ads live in deze 7 stappen "
    tagline="ons proces"
    isReversed={true}
    items={[
      {
        title: 'Kennismaking en intake',
        icon: 'tabler:number-1',
      },
      {
        title: 'Offerte met scope',
        icon: 'tabler:number-2',
      },
      {
        title: 'Inrichten Google Ads account',
        icon: 'tabler:number-3',
      },
      {
        title: 'Aanmaken campagne',
        icon: 'tabler:number-4',
      },
      {
        title: 'Inrichten advertenties',
        icon: 'tabler:number-5',
      },
      {
        title: 'Advertenties live',
        icon: 'tabler:number-6',
      },
      {
        title: 'Monitoring en optimalisatie',
        icon: 'tabler:number-7',
      },
    ]}
    image={{
      src: 'src/assets/images/google-ads-sea-uitbesteden-proces.jpg',
      alt: 'Google Ads SEA uitbesteden proces',
    }}
  />

<!-- Testimonials Widget *********** -->

<Testimonials
title="Wat onze klanten zeggen"
testimonials={[
  {
    testimonial: `Ik ken Mick als een iemand die een goed gevoel heeft voor wat zijn klanten willen en daar flexibel op in weet te spelen. Hij is betrokken, heeft kennis van zaken en is open. Door zijn persoonlijke aanpak staat hij voor mij apart van het gros van de andere partijen waar je nadat een dienst bij ze afneemt, nooit meer iets van hoort.`,
    name: 'Marco',
    job: 'Work in Flow',
  },
  {
    testimonial: `De hosting van mijn website heb ik via Magick Media geregeld, ik ben erg blij met hoe snel en gemakkelijk dit geregeld is. Ik ben zelf webdesigner dus een goede hosting partij is voor mij erg belangrijk. Daarnaast heb ik af en toe wat vragen of extra wensen en tot nu toe werd er dan telkens snel geschakeld door Mick. Echt een super goede service en korte lijntjes, ik ben blij dat ik voor Magick Media gekozen heb en ga hem ook aanraden voor mijn eigen klanten die een (nieuwe) hosting partij zoeken.`,
    name: 'Ronne',
    job: 'Ronne Design',
  },
  {
    testimonial: `Super tevreden!! Duidelijke communicatie en no noncense!!! Heldere afspraken en geen gedoe! Zeer zeker een aanrader!!!!ðŸ‘`,
    name: 'Belinda',
    job: 'Ribadogfood & more',
  },
  {
    testimonial: `Mick beheert naar tevredenheid onze website waarvoor dank.`,
    name: 'Leroy',
    job: 'Allooi Boekhouders & Belastingadviseurs',
  },
]}
/>

<!-- HighlightedPosts Widget ******* -->

<BlogLatestPosts
title="Onze laatste blogposts"
/>

<!-- CallToAction Widget *********** -->

<CallToAction
title="Klaar voor <span class='text-accent dark:text-white highlight'>Magische</span> Google Ads?"
subtitle="Wacht niet langer en neem contact met ons op.</br> Wij gaan graag voor jou aan de slag!"
actions={[
  {
    variant: 'primary',
    text: 'Contact',
    href: '/contact',
  },
]}
/>

<!-- FAQs Widget ******************* -->

<FAQs
title="Wat klanten wilde weten"
subtitle="Het is belangrijk dat al uw vragen beantwoord zijn. Daarom hebben we een aantal veelgestelde vragen hieronder neer gezet. Toch nog andere vragen? Neem dan gerust <a href='/contact' title='Neem contact op voor vragen aan Magick Media' class='text-primary dark:text-white highlight'>contact</a> met ons op."
tagline="Veelgestelde vragen"
classes={{ container: 'max-w-6xl' }}
items={[
  {
    title: '* Kunnen jullie ook voor de landingspagina zorgen?',
    description:
      "Jazeker, in bovenstaande tarieven wordt er vanuit gegaan dat er al een landingspagina aanwezig is. Is dat niet het geval? Dan richten wij die graag voor je in voor een meerprijs van â‚¬499. Let op: een goede landingspagina is essentieel voor de conversie!",
  },
  {
    title: 'Wat zijn mijn totale kosten?',
    description:
      "Hierboven hebben we de tarieven van onze dienstverlening omschreven. Let wel op, je heb ook een budget nodig in jouw Google Ads account om de advertenties te runnen. Dit zijn dus kosten rechtstreeks bij Google.",
  },
]}
/>
</Layout>
