---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices2 from '~/components/widgets/Pricing2.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Grafisch ontwerp"
    title="Logo laten ontwerpen? Wij van <span class='text-accent dark:text-white highlight'> Magick Media</span> maken dit of andere grafische uitingen voor je!"
    subtitle="Bij Magick Media ontwerpen we graag een nieuwe huisstijl voor jouw bedrijf, die perfect aansluit bij jouw doelgroep."
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Wat je van ons kunt verwachten"
    subtitle="Bij het laten maken jouw media uitingen, kun je altijd rekenen op onderstaande waarden."
    columns={2}
    items={[
      {
        title: 'Betaalbaar',
        description: 'Bij ons betaal je nooit teveel. Wij garanderen altijd de beste prijs voor onze producten van hoge kwaliteit.',
        icon: 'tabler:pig-money',
      },
      {
        title: 'Snelle oplevering',
        description: 'Wij doen er alles aan om onze klanten zo snel mogelijk te helpen. Want tijd is ten slotte geld :). Deze snelheid gaat natuurlijk niet ten koste van de kwaliteit.',
        icon: 'tabler:run',
      },
      {
        title: 'Creatief en orgineel',
        description: 'Wij ontwerpen creatieve en originele media uitingen die onze klanten helpen op te vallen bij hun doelgroep en de concurrentie voor te blijven.',
        icon: 'tabler:brush',
      },
      {
        title: 'Professionele service',
        description: 'Wij bieden altijd de beste service voor onze klanten. Bij het ontwerpen van jouw media uitingen kun je kiezen tussen bestanden die geschikt zijn voor web en/of voor print. Zo is jouw ontwerp altijd van de juiste kwaliteit.',
        icon: 'tabler:tie',
      },
      {
        title: 'Persoonlijke support',
        description: 'Wij nemen altijd persoonlijk contact met je op om jouw doelen en voorkeuren te bespreken. Op naar een vruchtbare samenwerking!',
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />
  
  
  <!-- Pricing2 Widget ******************* -->

  <Prices2
    title="Tarieven"
    subtitle="De prijzen van onze producten"
    prices={[
      {
        title: 'Logo Ontwerp',
        price: 499,
        period: 'eenmalig',
        items: [

          {
            description: "3 voorstellen om uit te kiezen",
          },
          { 
            description: 'Volledig eigenaarschap',
          }, 
          {
            description: 'Geschikt voor Web & Print',
          },
          {
            description: 'Incl. Social Media Kit',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Interesse',
          href: '#',
          
        },
      },
      {
        title: 'Drukwerk',
        subtitle: 'Flyers, briefpapier, visitekaartjes en meer',
        price: 149,
        period: 'vanafprijs',
        items: [
          { 
            description: 'Volledig eigenaarschap',
          }, 
          {
            description: 'Verschillende bestandstypes',
          },
          {
            description: 'Wordpress CMS',
          },
          {
            description: "Tot wel 5 pagina's",
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Offerte aanvragen',
          href: '/contact',
        },
        isPrimary: false
      },
      
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Jouw huisstijl ontworpen in deze 6 stappen "
    tagline="ons proces"
    isReversed={true}
    items={[
      {
        title: 'Kennismaking en intake',
        icon: 'tabler:number-1',
      },
      {
        title: 'Offerte met scope',
        icon: 'tabler:number-2',
      },
      {
        title: 'Keuze uit 3 voorstellen ',
        icon: 'tabler:number-3',
      },
      {
        title: 'Uitwerking van het gekozen voorstel',
        icon: 'tabler:number-4',
      },
      {
        title: 'Goedkeuring door de klant',
        icon: 'tabler:number-5',
      },
      {
        title: 'Het aanleveren van alle bestanden',
        icon: 'tabler:number-6',
      },
    ]}
    image={{
      src: 'https://img.freepik.com/free-photo/abstract-glowing-flame-drops-electric-illumination-generative-ai_188544-8092.jpg?w=740&t=st=1707489075~exp=1707489675~hmac=33767bc7f9e5735da3595ff3d30e06d0873d0fc39eec022a014a5718655756bc',
      alt: 'Proces huisstijl (drukwerk, logo) laten ontwerpen bij Magick Media',
    }}
  />

 <!-- CallToAction Widget *********** -->

 <CallToAction
 title="Klaar voor een <span class='text-accent dark:text-white highlight'>Magisch</span> </br> Grafisch ontwerp?"
 subtitle="Wacht niet langer en neem contact met ons op.</br> Wij gaan graag voor jou aan de slag!"
 actions={[
   {
     variant: 'primary',
     text: 'Contact',
     href: '/contact',
   },
 ]}
 />

<!-- FAQs Widget ******************* -->

<FAQs
title="Wat klanten wilde weten"
subtitle="Het is belangrijk dat al uw vragen beantwoord zijn. Daarom hebben we een aantal veelgestelde vragen hieronder neer gezet. Toch nog andere vragen? Neem dan gerust <a href='/contact' title='Neem contact op voor vragen aan Magick Media' class='text-primary dark:text-white highlight'>contact</a> met ons op."
tagline="Veelgestelde vragen"
classes={{ container: 'max-w-6xl' }}
items={[
  {
    title: 'Kan ik zelf aanpassingen doen aan de website?',
    description:
      "Dat is niet nodig! Wij passen met liefde de website voor je aan, als dat nodig is. Het enige wat jij hoeft te doen, is een bericht te sturen met de aanpassing! Zijn het grote aanpassingen? Bij meer dan 30 minuten werk per maand, werken wij met ons uurtarief. Dit doen wij omdat wij een volledige ontzorging belangrijk vinden. Omdat jij het al druk genoeg hebt met ondernemen!",
  },
]}
/>
 
