---
import Layout from 'src/layouts/PageLayout.astro';
import Prices2 from 'src/components/widgets/Pricing2.astro';
import FAQs from 'src/components/widgets/FAQs.astro';
import Steps from 'src/components/widgets/Steps.astro';
import Features3 from 'src/components/widgets/Features3.astro';
import CallToAction from 'src/components/widgets/CallToAction.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Hero from '~/components/widgets/Hero.astro';


const metadata = {
  title: 'Magick Media - Leadgeneratie (B2C)',
  description:'Omzet verhogen met Leadgeneratie? Magick Media promoot jouw producten of diensten met behulp van affiliate marketing',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
    <!-- Hero Widget ******************* -->
    <Hero
      tagline="Leadgeneratie (B2C)"
      actions={[
        {
          variant: 'primary',
          text: 'Plan een gesprek',
          href: '/plan-een-gesprek/',
        },
        { text: 'Tarieven', href: '#tarieven' },
      ]}
    >
  
      <Fragment slot="title">
        Omzet verhogen met leadgeneratie? <span class='text-accent dark:text-white highlight'> Magick Media</span> helpt je daarmee!
      </Fragment>
  
      <Fragment slot="subtitle">
        <span class="sm:inline">
          Hulp nodig bij het promoten van jouw producten of diensten? Dan ben je bij Magick Media aan het goede adres. Wij zorgen ervoor dat jij meer gaat verkopen!
        </span>
      </Fragment>
    </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    title="De voordelen van leadgeneratie voor jou"
    subtitle="Waar je bij ons op kunt rekenen."
    columns={2}
    items={[
      {
        title: 'Kostenbesparend',
        description: 'Je betaald als adverteerder (i.e verkoper/merchant) pas als er een resultaat bereikt is. Dit kan een lead zijn, bijvoorbeeld het invullen van een contactformulier, of een sale van een product. Het bedrag dat je betaald is afhankelijk van het product of dienst dat je verkoopt.',
        icon: 'tabler:pig-money',
      },
      {
        title: 'Verhoogde zichtbaarheid',
        description: 'Wij promoten je product of dienst op websites of platforms van publishers. Dit kan leiden tot een groter bereik van potentiële klanten.',
        icon: 'tabler:zoom-check',
      },
      {
        title: 'Gerichte doelgroep',
        description: 'Je kunt zelf kiezen wie jouw producten mag promoten. Zo kun je kiezen voor de publishers die de juiste doelgroep bereiken.',
        icon: 'tabler:target-arrow',
      },
      {
        title: 'Flexibiliteit',
        description: 'Je kunt bij leadgeneratie kiezen uit verschillende opties. Zo kun je per lead of sale betalen en is je budget per campagne vrij instelbaar.',
        icon: 'tabler:directions',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />
  
  
  <!-- Pricing2 Widget ******************* -->

  <Prices2
    title="Tarieven"
    id="tarieven"
    subtitle="Kies een dienstverlening die bij jou past"
    prices={[
      {
        title: 'Landingspagina, aansluiting & monitoring',
        subtitle: '',
        price: 499,
        period: 'eenmalig (excl. kosten per lead/sale)',
        items: [
          {
            description: 'Ontwerp & ontwikkeling conversiegerichte landingspagina',
          },
          {
            description: 'Aansluiten affiliate netwerk',
          },
          { 
            description: 'Opzetten campagne binnen netwerk',
          }, 
          { 
            description: 'Conversie optimalisatie',
          }, 
          {
            description: 'Samenwerking met affiliate netwerk',
          },
          { 
            description: 'Marge op lead/sale door Magick Media',
          }, 
        ],
        callToAction: {
          text: 'Plan een gesprek',
          href: '/plan-een-gesprek/',
        }
      },
      {
        title: 'Landingspagina & aansluiting',
        subtitle: '',
        price: 749,
        period: 'eenmalig (excl. kosten per lead/sale)',
        items: [
          {
            description: 'Ontwerp & ontwikkeling conversiegerichte landingspagina',
          },
          {
            description: 'Aansluiten affiliate netwerk',
          },
          { 
            description: 'Opzetten campagne binnen netwerk',
          }, 
          
        ],
        callToAction: {
          text: 'Plan een gesprek',
          href: '/plan-een-gesprek/',
        },
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Jouw omzet verhoogd in deze 7 stappen "
    tagline="ons proces"
    isReversed={true}
    items={[
      {
        title: 'Kennismaking en intake',
        icon: 'tabler:number-1',
      },
      {
        title: 'Scope bepalen en campagne vormgeven',
        icon: 'tabler:number-2',
      },
      {
        title: 'Contact met Affiliate netwerk',
        icon: 'tabler:number-3',
      },
      {
        title: 'Campagne opzetten (incl. landingspagina)',
        icon: 'tabler:number-4',
      },
      {
        title: 'Campagne live',
        icon: 'tabler:number-5',
      },
      {
        title: 'Leads of sales opvolgen',
        icon: 'tabler:number-6',
      },
      {
        title: 'Optimalisatie en kwaliteitscheck',
        icon: 'tabler:number-7',
      },
    ]}
    image={{
      src: '/_astro/leadgeneratie-proces.XNSY8uAX.jpg',
      alt: 'Proces leadgeneratie Magick Media',
    }}
  />

<!-- Testimonials Widget *********** -->

<Testimonials
title="Wat onze klanten zeggen"
testimonials={[
  {
    testimonial: `De hosting van de website 'jouw gemeente mijn gemeente' hosten we sinds een tijdje via Magick Media. We zijn daar erg tevreden over. De lijntjes zijn kort. Dit resulteert in snelle antwoorden op onze vragen.`,
    name: 'Cora',
    job: 'Pink Roccade',
  },
  {
    testimonial: `Ik ken Mick van Magick Media als een iemand die een goed gevoel heeft voor wat zijn klanten willen en daar flexibel op in weet te spelen. Hij is betrokken, heeft kennis van zaken en is open. Door de persoonlijke aanpak staat Magick Media voor mij apart van het gros van de andere partijen waar je nadat een dienst bij ze afneemt, nooit meer iets van hoort.`,
    name: 'Marco',
    job: 'Work in Flow',
  },
  {
    testimonial: `De hosting van mijn website heb ik via Magick Media geregeld, ik ben erg blij met hoe snel en gemakkelijk dit geregeld is. Ik ben zelf webdesigner dus een goede hosting partij is voor mij erg belangrijk. Daarnaast heb ik af en toe wat vragen of extra wensen en tot nu toe werd er dan telkens snel geschakeld. Echt een super goede service en korte lijntjes, ik ben blij dat ik voor Magick Media gekozen heb en ga hem ook aanraden voor mijn eigen klanten die een (nieuwe) hosting partij zoeken.`,
    name: 'Ronne',
    job: 'Ronne Design',
  },
  {
    testimonial: `Als eigenaar van boekhoudkantoor Allooi ben ik zeer tevreden met de website gemaakt door Magick Media. Dankzij hun aandacht voor detail, creativiteit en technische expertise hebben we een aantrekkelijke en functionele site gekregen. Dankzij het persoonlijk contact, responsieve houding en bereidheid tot aanpassingen hebben we onze online aanwezigheid geoptimaliseerd, wat heeft geleid tot een toename van klanten. Ik beveel Magick Media dus zeker aan.`,
    name: 'Leroy',
    job: 'Allooi Boekhouders & Belastingadviseurs',
  },
  {
    testimonial: `Super tevreden!! Duidelijke communicatie en no noncense!!! Heldere afspraken en geen gedoe! Zeer zeker een aanrader!!!!👍`,
    name: 'Belinda',
    job: 'Ribadogfood & more',
  },
]}
/>

<!-- Structured data reviews ******* -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Magick Media",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "5"
    },
    "review": [
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Cora"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "De hosting van de website 'jouw gemeente mijn gemeente' hosten we sinds een tijdje via Magick Media. We zijn daar erg tevreden over. De lijntjes zijn kort. Dit resulteert in snelle antwoorden op onze vragen."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Marco"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Ik ken Mick van Magick Media als iemand die een goed gevoel heeft voor wat zijn klanten willen en daar flexibel op in weet te spelen. Hij is betrokken, heeft kennis van zaken en is open. Door de persoonlijke aanpak staat Magick Media voor mij apart van het gros van de andere partijen waar je nadat een dienst bij ze afneemt, nooit meer iets van hoort."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Ronne"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "De hosting van mijn website heb ik via Magick Media geregeld, ik ben erg blij met hoe snel en gemakkelijk dit geregeld is. Ik ben zelf webdesigner dus een goede hosting partij is voor mij erg belangrijk. Daarnaast heb ik af en toe wat vragen of extra wensen en tot nu toe werd er dan telkens snel geschakeld. Echt een super goede service en korte lijntjes, ik ben blij dat ik voor Magick Media gekozen heb en ga hem ook aanraden voor mijn eigen klanten die een (nieuwe) hosting partij zoeken."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Leroy"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Als eigenaar van boekhoudkantoor Allooi ben ik zeer tevreden met de website gemaakt door Magick Media. Dankzij hun aandacht voor detail, creativiteit en technische expertise hebben we een aantrekkelijke en functionele site gekregen. Dankzij het persoonlijk contact, responsieve houding en bereidheid tot aanpassingen hebben we onze online aanwezigheid geoptimaliseerd, wat heeft geleid tot een toename van klanten. Ik beveel Magick Media dus zeker aan."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Belinda"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Super tevreden!! Duidelijke communicatie en no nonsense!!! Heldere afspraken en geen gedoe! Zeer zeker een aanrader!!!!👍"
      }
    ]
  }
  </script>

<!-- HighlightedPosts Widget ******* -->

<BlogLatestPosts
title="Onze laatste blogposts"
/>

<!-- FAQs Widget ******************* -->

<FAQs
title="Wat klanten willen weten"
subtitle="Het is belangrijk dat al jouw vragen beantwoord zijn. Daarom hebben we een aantal veelgestelde vragen hieronder neer gezet. Toch nog andere vragen? Neem dan gerust <a href='/contact/' title='Neem contact op voor vragen aan Magick Media' class='text-link dark:text-link'>contact</a> met ons op."
tagline="Veelgestelde vragen"
classes={{ container: 'max-w-6xl' }}
items={[
  {
    title: 'Wat is leadgeneratie?',
    description:
    'Het proces van leadgeneratie omvat het identificeren en aantrekken van mogelijke klanten (leads) voor een specifiek product of dienst. Het uiteindelijke doel is om contactinformatie te vergaren van individuen of bedrijven die belangstelling hebben getoond voor wat er wordt aangeboden, met als doel om hen om te zetten naar actieve klanten.',
  },
  {
    title: 'Hoe voeren jullie leadgeneratie uit?',
    description:
      "Leadgeneratie kan worden uitgevoerd op verschillende manieren om nieuwe klanten aan te trekken. Wij hebben ervoor gekozen om middels affiliate marketing ervoor te gaan zorgen dat jouw omzet omhoog gaat. We kiezen voor affiliate marketing omdat we daar veel ervaring in hebben en wij het beste resultaat mee hebben gekregen in het verleden.",
  },
  {
    title: 'Is een landingspagina perse nodig?',
    description:
      "De campagne heeft zeker een landingspagina nodig. Je kunt er ook voor kiezen om je eigen website als landingspagina te gebruiken. Het is wel belangrijk om te weten dat een goed geoptimaliseerde landingspagina eerder tot een lead leidt.",
  },
  {
    title: 'Kan ik het monitoren en optimaliseren ook zelf?',
    description:
      "Ja, nadat we een campagne voor jou hebben ingericht, doen we de overdacht ervan. Nu zou je in principe zelf aan de slag kunnen op het affiliate netwerk om je campagne bij te houden. Dit kost echter tijd (ongeveer 4 uur per maand), daarom nemen wij graag deze werkzaamheden uit handen.",
  },
  
]}
/>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {
        "@type": "Question",
        "name": "Wat is leadgeneratie?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Het proces van leadgeneratie omvat het identificeren en aantrekken van mogelijke klanten (leads) voor een specifiek product of dienst. Het uiteindelijke doel is om contactinformatie te vergaren van individuen of bedrijven die belangstelling hebben getoond voor wat er wordt aangeboden, met als doel om hen om te zetten naar actieve klanten."
        }
      },
      {
        "@type": "Question",
        "name": "Hoe voeren jullie leadgeneratie uit?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Leadgeneratie kan worden uitgevoerd op verschillende manieren om nieuwe klanten aan te trekken. Wij hebben ervoor gekozen om middels affiliate marketing ervoor te gaan zorgen dat jouw omzet omhoog gaat. We kiezen voor affiliate marketing omdat we daar veel ervaring in hebben en wij het beste resultaat mee hebben gekregen in het verleden."
        }
      },
      {
        "@type": "Question",
        "name": "Is een landingspagina perse nodig?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "De campagne heeft zeker een landingspagina nodig. Je kunt er ook voor kiezen om je eigen website als landingspagina te gebruiken. Het is wel belangrijk om te weten dat een goed geoptimaliseerde landingspagina eerder tot een lead lijdt."
        }
      },
      {
        "@type": "Question",
        "name": "Kan ik het monitoren en optimaliseren ook zelf?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Ja, nadat we een campagne voor jou hebben ingericht, doen we de overdacht ervan. Nu zou je in principe zelf aan de slag kunnen op het affiliate netwerk om je campagne bij te houden. Dit kost echter tijd (ongeveer 4 uur per maand), daarom nemen wij graag deze werkzaamheden uit handen."
        }
      }
      // Voeg meer vragen en antwoorden toe zoals nodig
    ]
  }
  </script>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Klaar voor <span class='text-accent dark:text-white highlight'>Magische</span> leadgeneratie?"
    subtitle="Wacht niet langer en neem contact met ons op.</br> Wij gaan graag voor jou aan de slag!"
    actions={[
      {
        variant: 'primary',
        text: 'Plan een gesprek',
        href: '/plan-een-gesprek/',
      },
    ]}
  />
</Layout>
