---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Magick Media - Online Marketing Bureau Den Bosch',
  description: 'Magick Media, online marketing bureau uit Den Bosch, specialiseert zich in het ontwikkelen en versterken van de online vindbaarheid van jouw website of webshop.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Meer over ons',
        href: '/over-ons/',
      },
      { text: 'Diensten', href: '#diensten' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'Magick Media regio Den Bosch Hero' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> Magick Media</span> is jouw online marketing bureau in omgeving Den Bosch.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        Gespecialiseerd in webontwikkeling, SEO, SEA, leadgeneratie, hosting en opvallend grafisch ontwerp in regio Den Bosch om jouw merk te laten groeien.
        </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="diensten"
    tagline="Diensten"
    title="Wat wij voor jou bedrijf in regio Den Bosch kunnen doen"
    subtitle="Bij Magick Media focussen wij ons op de volgende diensten:"
    items={[
      {
        title: 'Grafisch ontwerp',
        description:
          "Van logos tot flyers en briefpapier, wij ontwerpen al je media  uitingen en zorgen ervoor dat jouw merk er altijd professioneel uitziet. <a href='/grafisch-ontwerp/' title='Meer informatie over grafisch ontwerp door Magick Media' class='text-link dark:text-link'>Meer info &raquo;</a>",
        icon: 'tabler:vector',
      },
      {
        title: 'Webshop ontwikkeling',
        description:
          "Vanaf €799 creëren we een professionele webshop die direct klaar is voor gebruik, inclusief een veilig betaalsysteem. We kunnen je ook helpen bij het toevoegen van producten. <a href='/webshop-laten-maken/' title='Meer informatie over een webshop laten maken door Magick Media' class='text-link dark:text-link'>Meer info &raquo;</a>",
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Website ontwikkeling',
        description:
          "Al vanaf €499 krijg je bij ons een professionele website, gebaseerd op kant-en-klare templates die we volledig aanpassen aan jouw stijl. Wil je liever maatwerk? Vraag een offerte op maat aan na het intakegesprek. <a href='/website-laten-maken/' title='Meer informatie over een website laten maken door Magick Media' class='text-link dark:text-link'>Meer info &raquo;</a>",
        icon: 'tabler:code',
      },
      {
        title: 'SEA',
        description:
          "Met Google Ads sta je direct bovenaan de zoekresultaten. Wij zetten een converterende strategie op en beheren de campagne voor maximaal resultaat. <a href='/google-ads-sea/' title='Meer informatie over Google Ads SEA door Magick Media' class='text-link dark:text-link'>Meer info &raquo;</a>",
        icon: 'tabler:badge-ad',
      },
      {
        title: 'Zoekmachine optimalisatie',
        description:
          "Met onze SEO diensten wordt jouw website optimaal vindbaar in Google. We zorgen ervoor dat je website goed scoort bij jouw doelgroep. <a href='/zoekmachine-optimalisatie-seo/' title='Meer informatie over zoekmachine optimalisatie door Magick Media' class='text-link dark:text-link'>Meer info &raquo;</a>",
        icon: 'tabler:seo',
      },
      {
        title: 'Leadgeneratie',
        description:
          "Zet affiliate marketing in om meer leads te genereren. Je betaalt pas voor resultaten en kunt gericht je doelgroep bereiken met een flexibel budget. <a href='/leadgeneratie/' title='Meer informatie over leadgeneratie door Magick Media' class='text-link dark:text-link'>Meer info &raquo;</a>",
        icon: 'tabler:magnet',
      },
      {
        title: 'Hosting & beheer',
        description:
          "Laat het beheer van je website of webshop aan ons over. Met onze snelle hosting op SSD-servers garanderen we uitstekende prestaties en betere vindbaarheid. <a href='/hosting-en-beheer/' title='Meer informatie over hosting en beheer door Magick Media' class='text-link dark:text-link'>Meer info &raquo;</a>",
        icon: 'tabler:server',
      },
    ]}
  />

  <Steps
    title="Wil je weten wat wij voor <span class='text-accent dark:text-white highlight'>jou</span> kunnen betekenen? Ontvang gratis advies op maat."
    items={[
      {
        title: 'Stap 1: <span class="font-medium">Plan een gesprek</span>',
        description:
          "We zijn benieuwd waarmee we je kunnen helpen. Plan een gesprek en wij zien je bij de intake! Liever een andere manier van contact? Bekijk onze <a href='/contact/' title='Contact met Magick Media' class='text-link dark:text-link'>contactpagina</a> voor meer opties.",
        icon: 'tabler:at',
        buttonText: 'Plan een afspraak',
        href:'/plan-een-gesprek/',
      },
      {
        title: 'Stap 2: <span class="font-medium">Intakegesprek</em>',
        description:
          "Fantastisch dat je interesse hebt! Tijdens een persoonlijk of online intakegesprek leren we je wensen kennen. Dit vormt de basis voor ons advies op maat.",
        icon: 'tabler:video',
      },
      {
        title: 'Stap 3: <span class="font-medium">Advies op maat</span>',
        description:
          'Na de intake ontvang je gratis advies en een vrijblijvende offerte, zodat je rustig kunt nadenken over ons voorstel.',
        icon: 'tabler:gift',
      },
      {
        title: 'Laten we beginnen!',
        description:
          'Klinkt het goed? Laten we van start gaan en samen naar succes toewerken!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '/_astro/online-marketing-bureau-den-bosch.CWiMYEZP.jpg', 
      alt: 'Advies op maat bij online marketing bureau Den Bosch',
    }}
  />

  <!-- Testimonials Widget *********** -->

<Testimonials
title="Wat onze klanten in regio Den Bosch zeggen"
testimonials={[
  {
    testimonial: `We zijn zeer tevreden over de webhosting / Google adds / SEO zoals dit door Mick voor ons wordt gedaan. Hij denkt mee, heeft goede onderbouwing van de resultaten aan de hand van diverse statistieken waardoor wij de juiste beslissingen kunnen nemen welke vervolgstappen van belang zijn. Nu na een half jaar zien we dat we wezenlijk zijn gestegen in de resultaten en het goede idee van Mick voor een digitale brochure leidt tot diverse leads en al mooie orders hieruit! Magick Media is echt een aanrader om gestructureerd om te gaan met je website! Hartelijk dank hiervoor Mick.`,
    name: 'Bert',
    job: 'Sol Stijlvol Hekwerk',
  },
  {
    testimonial: `De hosting van de website 'jouw gemeente mijn gemeente' hosten we sinds een tijdje via Magick Media. We zijn daar erg tevreden over. De lijntjes zijn kort. Dit resulteert in snelle antwoorden op onze vragen.`,
    name: 'Cora',
    job: 'Pink Roccade',
  },
  {
    testimonial: `Ik ken Mick van Magick Media als een iemand die een goed gevoel heeft voor wat zijn klanten willen en daar flexibel op in weet te spelen. Hij is betrokken, heeft kennis van zaken en is open. Door de persoonlijke aanpak staat Magick Media voor mij apart van het gros van de andere partijen waar je nadat een dienst bij ze afneemt, nooit meer iets van hoort.`,
    name: 'Marco',
    job: 'Work in Flow',
  },
  {
    testimonial: `De hosting van mijn website heb ik via Magick Media geregeld, ik ben erg blij met hoe snel en gemakkelijk dit geregeld is. Ik ben zelf webdesigner dus een goede hosting partij is voor mij erg belangrijk. Daarnaast heb ik af en toe wat vragen of extra wensen en tot nu toe werd er dan telkens snel geschakeld. Echt een super goede service en korte lijntjes, ik ben blij dat ik voor Magick Media gekozen heb en ga hem ook aanraden voor mijn eigen klanten die een (nieuwe) hosting partij zoeken.`,
    name: 'Ronne',
    job: 'Ronne Design',
  },
  {
    testimonial: `Als eigenaar van boekhoudkantoor Allooi ben ik zeer tevreden met de website gemaakt door Magick Media. Dankzij hun aandacht voor detail, creativiteit en technische expertise hebben we een aantrekkelijke en functionele site gekregen. Dankzij het persoonlijk contact, responsieve houding en bereidheid tot aanpassingen hebben we onze online aanwezigheid geoptimaliseerd, wat heeft geleid tot een toename van klanten. Ik beveel Magick Media dus zeker aan.`,
    name: 'Leroy',
    job: 'Allooi Boekhouders & Belastingadviseurs',
  },
  {
    testimonial: `Super tevreden!! Duidelijke communicatie en no noncense!!! Heldere afspraken en geen gedoe! Zeer zeker een aanrader!!!!👍`,
    name: 'Belinda',
    job: 'Ribadogfood & more',
  },
]}
/>

<!-- Structured data reviews ******* -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Magick Media",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "5"
    },
    "review": [
    {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Bert"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-11-06",
        "reviewBody": "We zijn zeer tevreden over de webhosting / Google adds / SEO zoals dit door Mick voor ons wordt gedaan. Hij denkt mee, heeft goede onderbouwing van de resultaten aan de hand van diverse statistieken waardoor wij de juiste beslissingen kunnen nemen welke vervolgstappen van belang zijn. Nu na een half jaar zien we dat we wezenlijk zijn gestegen in de resultaten en het goede idee van Mick voor een digitale brochure leidt tot diverse leads en al mooie orders hieruit! Magick Media is echt een aanrader om gestructureerd om te gaan met je website! Hartelijk dank hiervoor Mick."
      },  
    {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Cora"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "De hosting van de website 'jouw gemeente mijn gemeente' hosten we sinds een tijdje via Magick Media. We zijn daar erg tevreden over. De lijntjes zijn kort. Dit resulteert in snelle antwoorden op onze vragen."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Marco"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Ik ken Mick van Magick Media als iemand die een goed gevoel heeft voor wat zijn klanten willen en daar flexibel op in weet te spelen. Hij is betrokken, heeft kennis van zaken en is open. Door de persoonlijke aanpak staat Magick Media voor mij apart van het gros van de andere partijen waar je nadat een dienst bij ze afneemt, nooit meer iets van hoort."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Ronne"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "De hosting van mijn website heb ik via Magick Media geregeld, ik ben erg blij met hoe snel en gemakkelijk dit geregeld is. Ik ben zelf webdesigner dus een goede hosting partij is voor mij erg belangrijk. Daarnaast heb ik af en toe wat vragen of extra wensen en tot nu toe werd er dan telkens snel geschakeld. Echt een super goede service en korte lijntjes, ik ben blij dat ik voor Magick Media gekozen heb en ga hem ook aanraden voor mijn eigen klanten die een (nieuwe) hosting partij zoeken."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Leroy"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Als eigenaar van boekhoudkantoor Allooi ben ik zeer tevreden met de website gemaakt door Magick Media. Dankzij hun aandacht voor detail, creativiteit en technische expertise hebben we een aantrekkelijke en functionele site gekregen. Dankzij het persoonlijk contact, responsieve houding en bereidheid tot aanpassingen hebben we onze online aanwezigheid geoptimaliseerd, wat heeft geleid tot een toename van klanten. Ik beveel Magick Media dus zeker aan."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Belinda"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Super tevreden!! Duidelijke communicatie en no nonsense!!! Heldere afspraken en geen gedoe! Zeer zeker een aanrader!!!!👍"
      }
    ]
  }
  </script>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Onze laatste blogposts"
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Klaar voor een  <span class='text-accent dark:text-white highlight'>Magische</span> website?"
    subtitle="Wacht niet langer en neem contact met ons op.</br> Wij gaan graag voor jou aan de slag!"
    actions={[
      {
        variant: 'primary',
        text: 'Plan een gesprek',
        href: '/plan-een-gesprek/',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Wat klanten in regio Den Bosch wilde weten"
    subtitle="Het is belangrijk dat al jouw vragen beantwoord zijn. Daarom hebben we een aantal veelgestelde vragen hieronder neer gezet. Toch nog andere vragen? Neem dan gerust <a href='/contact/' title='neem contact op voor vragen aan Magick Media' class='text-link dark:text-link'>contact</a> met ons op."
    tagline="Veelgestelde vragen"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Waarom zou ik moeten samenwerken met Magick Media?',
        description:
          "Bij Magick Media profiteer je van: persoonlijk contact, lage prijzen, hoge kwaliteit en een volledige ontzorging van je online marketing. Ons team luistert naar jouw wensen en behoeftes. Wij werken met zorg om jouw media-uitingen, bijvoorbeeld een website of webshop, te creëren. Eén die perfect aansluit bij jouw bedrijf. We bieden betaalbare tarieven zonder dat dit ten koste gaat van kwaliteit. Kortom: wij zorgen ervoor dat je platform en online marketing professioneel, gebruiksvriendelijk en geoptimaliseerd is.",
      },
      {
        title: 'Staan jullie met Magick Media ingeschreven bij de KVK?',
        description:
          'Bij de Kamer van Koophandel staan we ingeschreven onder de naam Magick Media (KVK-nummer 84696109). In 2021 is Magick Media gestart. Destijds was het hosten van websites onze enige dienstverlening maar over de tijd heen zijn onze diensten gegroeid.',
      },
      {
        title: 'Wat zijn jullie vakgebieden en expertise?',
        description:
          "Wij hebben een breed scala van expertises in huis. De gebieden waarin wij opleidingen hebben gevolgd zijn onder andere ICT, online marketing en grafische vormgeving. Binnen online marketing hebben we ons gespecaliseerd in SEO, SEA en leadgeneratie. De eerste twee zorgen ervoor dat jouw website of webshop beter gevonden wordt in zoekmachines. Met leadgeneratie zorgen wij voor nieuwe kwalitatieve klanten van jouw product of dienst.",
      },
      {
        title: "Ben ik volledige de eigenaar van de website of webshop die jullie voor mij maken?",
        description:
          "Ja, nadat je de eenmalige kosten hebt betaald voor je website of webshop ben je hiervoor 100% de eigenaar van. De enige uitzondering is de aanbieding voor Starters. In deze aanbieding ben je de eigenaar van het product nadat je abonnement minimaal twee jaar oud is bij ons. Wil je toch eerder weg? Dan kun je je product altijd afkopen. Het is wel belangrijk om te weten dat voor de Wordpress website betaalde plugins worden gebruikt, daar betalen wij dus jaarlijks voor. Mocht je je site willen overnemen, dan zijn deze kosten ook voor eigen beheer. ",
      },
    ]}
  />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {
          "@type": "Question",
          "name": "Waarom zou ik moeten samenwerken met Magick Media?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Bij Magick Media profiteer je van: persoonlijk contact, lage prijzen, hoge kwaliteit en een volledige ontzorging van je online marketing. Ons team luistert naar jouw wensen en behoeftes. Wij werken met zorg om jouw media-uitingen, bijvoorbeeld een website of webshop, te creëren. Eén die perfect aansluit bij jouw bedrijf. We bieden betaalbare tarieven zonder dat dit ten koste gaat van kwaliteit. Kortom: wij zorgen ervoor dat je platform en online marketing professioneel, gebruiksvriendelijk en geoptimaliseerd is."
          }
        },
        {
          "@type": "Question",
          "name": "Staan jullie met Magick Media ingeschreven bij de KVK?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Bij de Kamer van Koophandel staan we ingeschreven onder de naam Magick Media (KVK-nummer 84696109). In 2021 is Magick Media gestart. Destijds was het hosten van websites onze enige dienstverlening. Omdat onze diensten over de tijd heen gegroeid zijn, hebben we een re-branding gehad naar Magick Media. Zo is de naam in ieder geval niet meer verwarrend in de communicatie van onze dienstverleningen."
          }
        },
        {
          "@type": "Question",
          "name": "Wat zijn jullie vakgebieden en expertise?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Wij hebben een breed scala van expertises in huis. De gebieden waarin wij opleidingen hebben gevolgd zijn onder andere ICT, online marketing en grafische vormgeving. Binnen online marketing hebben we ons gespecialiseerd in SEO, SEA en leadgeneratie. De eerste twee zorgen ervoor dat jouw website of webshop beter gevonden wordt in zoekmachines. Met leadgeneratie zorgen wij voor nieuwe kwalitatieve klanten van jouw product of dienst."
          }
        },
        {
          "@type": "Question",
          "name": "Ben ik volledige de eigenaar van de website of webshop die jullie voor mij maken?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Ja, nadat je de eenmalige kosten hebt betaald voor je website of webshop ben je hiervoor 100% de eigenaar van. De enige uitzondering is de aanbieding voor Starters. In deze aanbieding ben je de eigenaar van het product nadat je abonnement minimaal twee jaar oud is bij ons. Wil je toch eerder weg? Dan kun je je product altijd afkopen. Het is wel belangrijk om te weten dat voor de Wordpress website betaalde plugins worden gebruikt, daar betalen wij dus jaarlijks voor. Mocht je je site willen overnemen, dan zijn deze kosten ook voor eigen beheer."
          }
        }
      ]
    }
  </script>
</Layout>
