---
import Features2 from '~/components/widgets/Features2.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Magick Media - Over ons',
  description:'Kom meer te weten over Magick Media en leer ons echt kennen. Daarna leren we jou natuurlijk ook graag kennen!',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <HeroText
    tagline="Over Ons"
    title="Aan <span class='text-accent dark:text-white highlight'> persoonlijk contact</span> hechten wij erg veel waarde"
    subtitle="Magick Media is een compact media bedrijf: met een reden! Hierdoor houden wij korte lijntjes met onze klanten. Jij weet dus precies met wie je in zee gaat, en dat geldt ook voor ons."
  />

<!-- Steps2 Widget ****************** -->

<Steps2
title="Onze waardes"
subtitle="Bij Magick Media dragen wij onze waarden hoog in het vaandel. Ze vormen de kern van wie we zijn en hoe we ons bedrijf leiden."
items={[
  {
    title: 'Klantcontact staat bij ons centraal',
    description:
      'Wij geloven in de kracht van persoonlijke relaties. Bij ons gaat klantcontact verder dan een transactie; het is de basis van een duurzame samenwerking. We luisteren actief naar de behoeften van onze klanten en streven ernaar om niet alleen hun verwachtingen te overtreffen, maar ook om een vertrouwensband op te bouwen.',
  },
  {
    title: 'Kwaliteit is onze standaard',
    description:
      'Wij zijn toegewijd aan het leveren van producten/diensten van de hoogste kwaliteit. Vanaf het allereerste contact tot de oplevering streven we naar excellentie in alles wat we doen. Onze focus op kwaliteit is een belofte aan onze klanten dat ze kunnen vertrouwen op duurzame, betrouwbare oplossingen die aan hun hoogste standaarden voldoen.',
  },
  {
    title: 'Betaal nooit teveel',
    description:
      'Wij weten hoe belangrijk het is om waarde voor je geld te krijgen. Daarom streven we naar een optimale balans tussen kwaliteit en prijs. Ons streven is om transparantie te bieden en te zorgen dat elke investering die je bij ons doet, een investering is in de groei en het succes van jouw onderneming.',
  },
]}
/>

  <!-- Content Widget **************** -->

  <Content
    image={{
      src: '/_astro/Mick_Vranken.DIorRpwS.jpg',
      alt: 'Foto van eigenaar Magick Media',
    }}
  >
    <Fragment slot="content">
      <br>
      <h3 class="text-3xl font-bold italic tracking-tight dark:text-white sm:text-3xl mb-2">"De dankbaarheid van klanten die ik heb kunnen helpen, dát geeft mij energie."</h3>
      <span class="italic">- Mick Vranken, Eigenaar</span>
      <br></br>
      <p>
        Hoi! Leuk dat je even de tijd neemt om wat meer te weten te komen over Magick Media. 
        <br></br>
        In 2021 is dit bedrijf gestart. Destijds was het de bedoeling om ons alleen te richten op het hosten en onderhouden van websites en webshops. Omdat we merkte hoe leuk het was om onze klanten met meerdere dingen te helpen dan alleen de hosting, zijn we ook andere dienstverlening gaan aanbieden. Daar hebben we tot op heden zeker nog geen spijt van gekregen.
        <br></br>
        Onze achtergrond qua opleiding is divers, het omvat onder andere een Grafische vormgeving opleiding aan Sint Lucas Boxtel, ICT & Media opleiding aan Fontys Eindhoven, en diverse cursussen (o.a. SEO, SEA). Daarnaast hebben we ervaring als Full stack ontwikkelaar, UX designer en Product owner in loondienst.
        <br></br>
        Kijk gerust even verder op deze site en wie weet spreken we elkaar snel!
      </p>
    </Fragment>
  </Content>
  
 
  
  

  

  <!-- Features2 Widget ************** -->

  <Features2
    title="Wij helpen je graag vooruit!"
    items={[
      {
        title: 'Telefoon',
        description: '+316 42 66 79 70',
        icon: 'tabler:phone',
      },
      {
        title: 'Email',
        description: 'info@magickmedia.nl',
        icon: 'tabler:mail',
      },
      {
        title: 'Adres',
        description: 'Willy den oudenstraat 121, 5026 DB Tilburg',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
