---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Magick Media - Plan een gesprek',
  description:'Om jou zo goed mogelijk te kunnen helpen, plannen wij graag een gesprek met je als kennismaking. Op naar een succesvolle samenwerking!',
  ignoreTitleTemplate: true,
  robots: {
    index: false,
    follow: true,
  },
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Plan een gesprek" title="Kies wanneer het jouw uitkomt!" />

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/magick-media/30min" style="min-width:320px;height:640px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Hoe je ons nog meer kunt bereiken!"
    items={[
      {
        title: 'Telefoon',
        description: '+316 42 66 79 70',
        icon: 'tabler:phone',
      },
      {
        title: 'Email',
        description: 'info@magickmedia.nl',
        icon: 'tabler:mail',
      },
      {
        title: 'Adres',
        description: 'Willy den oudenstraat 121, 5026 DB Tilburg',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
