---
import Layout from '~/layouts/PageLayout.astro';
import Prices3 from '~/components/widgets/Pricing3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Magick Media - Website laten maken',
  description:'Professionele website laten maken? Bij ons ben je aan het juiste adres voor een unieke online aanwezigheid.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->
  <Hero
    tagline="Website laten maken"
    actions={[
      {
        variant: 'primary',
        text: 'Plan een gesprek',
        href: '/plan-een-gesprek/',
      },
      { text: 'Tarieven', href: '#tarieven' },
    ]}
  >
    <Fragment slot="title">
      Goedkoop een website laten maken? Wij van <span class='text-accent dark:text-white highlight'> Magick Media</span> helpen je graag verder!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        Welkom bij Magick Media, de digitale genieën van Tilburg! Goedkoop een <b>website laten maken</b> doe je bij ons, zonder concessies aan kwaliteit.
        </span>
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Wat je van ons kunt verwachten"
    subtitle="Doordat je website door ons laat maken, ben je verzekerd van een aantal belangrijke punten die nodig zijn voor een kwalitatief goede website."
    columns={2}
    items={[
      {
        title: 'Gebruiksvriendelijk',
        description: 'Wij maken niet alleen mooie website, maar zorgen er ook voor dat de bezoeker gemakkelijk kan vinden waar hij of zij naar zoekt.',
        icon: 'tabler:mood-smile-beam',
      },
      {
        title: 'Makkelijk schaalbaar',
        description: 'We bouwen je website zo op, dat het erg makkelijk is om je website uit te breiden met meerdere pagina&lsquo;s of blogpost .',
        icon: 'tabler:copy',
      },
      {
        title: 'Laatste technieken',
        description: 'Om er voor te zorgen dat je website voldoet aan de laatste kwaliteitsstandaarden, gebruiken wij de nieuwste technieken bij het ontwikkelen van jouw website.',
        icon: 'tabler:cpu',
      },
      {
        title: '100% responsive',
        description: 'In ons ontwerp wordt er rekening gehouden dat je website op verschillende schermgroottes bekeken gaat worden. Je website is dus 100% responsive.',
        icon: 'tabler:devices',
      },
      {
        title: 'Snelle laadtijd',
        description: `Niks is vervelender dan lang moeten wachten totdat de website die je bezoekt geladen is. Een langzame website zorgt ervoor dat veel bezoekers de website verlaten. Wij zorgen ervoor dat je website snel is, zodat de bezoeker niet lang hoeft te wachten.`,
        icon: 'tabler:brand-speedtest',
      },
      {
        title: 'Persoonlijke support',
        description: 'Wij vinden het belangrijk om met iedere klant persoonlijk contact te hebben. Daarom reageren we vaak al binnen een werkdag op je vragen en helpen we je graag verder.',
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />
  
  
  <!-- Pricing2 Widget ******************* -->

  <Prices3
    title="Tarieven"
    subtitle="Kies een pakket die bij jou past"
    id="tarieven"
    prices={[
      {
        title: 'Starter',
        subtitle: 'Voor starters hebben we een speciale aanbieding',
        price: 0,
        period: 'eenmalig',
        items: [
          { 
            description: 'Bij hostingpakket van €49,99 p/m',
          }, 
          {
            description: 'Vormgeving naar smaak',
          },
          {
            description: 'Wordpress CMS',
          },
          {
            description: "Tot wel 5 pagina's",
          },
        ],
        callToAction: {
          text: 'Plan een gesprek',
          href: '/plan-een-gesprek/',
        },
        hasRibbon: true,
        ribbonTitle: 'Actie',
      },
      {
        title: 'Premium',
        subtitle: 'Geschikt voor het middel/ kleine bedrijven en ZZPers',
        price: 499,
        period: 'eenmalig',
        items: [
          { 
            description: 'Bij hostingpakket van €49,99 p/m',
          }, 
          {
            description: 'Vormgeving naar smaak',
          },
          {
            description: 'Wordpress CMS',
          },
          {
            description: "Tot wel 5 pagina's",
          },
        ],
        callToAction: {
          text: 'Plan een gesprek',
          href: '/plan-een-gesprek/',
        },
      },
      {
        title: 'Pro',
        subtitle: 'Geschikt voor de gevestigde ondernemer',
        price: 1499,
        period: 'vanafprijs',
        items: [
          {
            description: 'Bij hostingpakket van €49,99 p/m',
          },
          {
            description: 'Razendsnel, uiterst geschikt voor SEO',
          },
          {
            description: 'Unieke, op maat gemaakte website',
          },
          {
            description: 'Na intake, vrijblijvende offerte op maat',
          }
        ],
        callToAction: {
          text: 'Plan een gesprek',
          href: '/plan-een-gesprek/',
        }
      }
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Jouw website snel online met deze 8 stappen "
    tagline="ons proces"
    isReversed={true}
    items={[
      {
        title: 'Kennismaking en intake',
        icon: 'tabler:number-1',
      },
      {
        title: 'Offerte met scope',
        icon: 'tabler:number-2',
      },
      {
        title: 'Ontwikkeling van de website, met dummy tekst en afbeeldingen',
        icon: 'tabler:number-3',
      },
      {
        title: 'Goedkeuring van het ontwerp door de klant',
        icon: 'tabler:number-4',
      },
      {
        title: 'Eerste factuur van de website en start hostingcontract',
        icon: 'tabler:number-5',
      },
      {
        title: 'Het aanleveren van de teksten en het toevoegen van de (juiste) afbeeldingen',
        icon: 'tabler:number-6',
      },
      {
        title: 'Goedkeuring op de inhoud van de website',
        icon: 'tabler:number-7',
      },
      {
        title: 'Livegang',
        icon: 'tabler:number-8',
      },
    ]}
    image={{
      src: '/_astro/website-laten-maken-proces.auejfeR3.jpg',
      alt: 'Website laten maken proces',
    }}
  />

<!-- Testimonials Widget *********** -->

<Testimonials
title="Wat onze klanten zeggen"
testimonials={[
  {
    testimonial: `De hosting van de website 'jouw gemeente mijn gemeente' hosten we sinds een tijdje via Magick Media. We zijn daar erg tevreden over. De lijntjes zijn kort. Dit resulteert in snelle antwoorden op onze vragen.`,
    name: 'Cora',
    job: 'Pink Roccade',
  },
  {
    testimonial: `Ik ken Mick van Magick Media als een iemand die een goed gevoel heeft voor wat zijn klanten willen en daar flexibel op in weet te spelen. Hij is betrokken, heeft kennis van zaken en is open. Door de persoonlijke aanpak staat Magick Media voor mij apart van het gros van de andere partijen waar je nadat een dienst bij ze afneemt, nooit meer iets van hoort.`,
    name: 'Marco',
    job: 'Work in Flow',
  },
  {
    testimonial: `De hosting van mijn website heb ik via Magick Media geregeld, ik ben erg blij met hoe snel en gemakkelijk dit geregeld is. Ik ben zelf webdesigner dus een goede hosting partij is voor mij erg belangrijk. Daarnaast heb ik af en toe wat vragen of extra wensen en tot nu toe werd er dan telkens snel geschakeld. Echt een super goede service en korte lijntjes, ik ben blij dat ik voor Magick Media gekozen heb en ga hem ook aanraden voor mijn eigen klanten die een (nieuwe) hosting partij zoeken.`,
    name: 'Ronne',
    job: 'Ronne Design',
  },
  {
    testimonial: `Als eigenaar van boekhoudkantoor Allooi ben ik zeer tevreden met de website gemaakt door Magick Media. Dankzij hun aandacht voor detail, creativiteit en technische expertise hebben we een aantrekkelijke en functionele site gekregen. Dankzij het persoonlijk contact, responsieve houding en bereidheid tot aanpassingen hebben we onze online aanwezigheid geoptimaliseerd, wat heeft geleid tot een toename van klanten. Ik beveel Magick Media dus zeker aan.`,
    name: 'Leroy',
    job: 'Allooi Boekhouders & Belastingadviseurs',
  },
  {
    testimonial: `Super tevreden!! Duidelijke communicatie en no noncense!!! Heldere afspraken en geen gedoe! Zeer zeker een aanrader!!!!👍`,
    name: 'Belinda',
    job: 'Ribadogfood & more',
  },
]}
/>

<!-- Structured data reviews ******* -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Magick Media",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "5"
    },
    "review": [
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Cora"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "De hosting van de website 'jouw gemeente mijn gemeente' hosten we sinds een tijdje via Magick Media. We zijn daar erg tevreden over. De lijntjes zijn kort. Dit resulteert in snelle antwoorden op onze vragen."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Marco"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Ik ken Mick van Magick Media als iemand die een goed gevoel heeft voor wat zijn klanten willen en daar flexibel op in weet te spelen. Hij is betrokken, heeft kennis van zaken en is open. Door de persoonlijke aanpak staat Magick Media voor mij apart van het gros van de andere partijen waar je nadat een dienst bij ze afneemt, nooit meer iets van hoort."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Ronne"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "De hosting van mijn website heb ik via Magick Media geregeld, ik ben erg blij met hoe snel en gemakkelijk dit geregeld is. Ik ben zelf webdesigner dus een goede hosting partij is voor mij erg belangrijk. Daarnaast heb ik af en toe wat vragen of extra wensen en tot nu toe werd er dan telkens snel geschakeld. Echt een super goede service en korte lijntjes, ik ben blij dat ik voor Magick Media gekozen heb en ga hem ook aanraden voor mijn eigen klanten die een (nieuwe) hosting partij zoeken."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Leroy"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Als eigenaar van boekhoudkantoor Allooi ben ik zeer tevreden met de website gemaakt door Magick Media. Dankzij hun aandacht voor detail, creativiteit en technische expertise hebben we een aantrekkelijke en functionele site gekregen. Dankzij het persoonlijk contact, responsieve houding en bereidheid tot aanpassingen hebben we onze online aanwezigheid geoptimaliseerd, wat heeft geleid tot een toename van klanten. Ik beveel Magick Media dus zeker aan."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Belinda"
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "datePublished": "2024-02-21",
        "reviewBody": "Super tevreden!! Duidelijke communicatie en no nonsense!!! Heldere afspraken en geen gedoe! Zeer zeker een aanrader!!!!👍"
      }
    ]
  }
  </script>

<!-- HighlightedPosts Widget ******* -->

<BlogLatestPosts
title="Onze laatste blogposts"
/>

<!-- CallToAction Widget *********** -->

<CallToAction
title="Klaar voor een  <span class='text-accent dark:text-white highlight'>Magische</span> website?"
subtitle="Wacht niet langer en neem contact met ons op.</br> Wij gaan graag voor jou aan de slag!"
actions={[
  {
    variant: 'primary',
    text: 'Plan een gesprek',
    href: '/plan-een-gesprek/',
  },
]}
/>

<!-- FAQs Widget ******************* -->

<FAQs
title="Wat klanten willen weten"
subtitle="Het is belangrijk dat al jouw vragen beantwoord zijn. Daarom hebben we een aantal veelgestelde vragen hieronder neer gezet. Toch nog andere vragen? Neem dan gerust <a href='/contact/' title='Neem contact op voor vragen aan Magick Media' class='text-link dark:text-link'>contact</a> met ons op."
tagline="Veelgestelde vragen"
classes={{ container: 'max-w-6xl' }}
items={[
  {
    title: 'Is een hosting en beheer pakket perse nodig?',
    description:
      "Door ons <a href='/hosting-en-beheer/' title='Meer informatie over ons hostingpakket' class='text-link dark:text-link'>hostingpakket</a>  kunnen wij er voor blijven zorgen dat je website optimaal blijft presteren. Hoewel wij het niet aanraden, kunnen wij ook een website voor je maken zonder hostingpakket. In dat geval gelden andere prijzen dan hierboven aangegeven.",
  },
  {
    title: 'Waarom factureren jullie al bij stap 5?',
    description:
    'In deze stap is de website technisch eigenlijk al klaar en wachten we alleen nog op de inhoud (teksten en afbeeldingen). Na deze stap zijn we afhankelijk van de klant die deze teksten en afbeeldingen aanleverd. Helaas zien we te vaak dat het best lang kan duren voordat we inhoud krijgen aangeleverd. Vaak omdat de klant het erg druk heeft, wat natuurlijk erg fijn is. Om hier financieel niet afhankelijk van te zijn, hebben we er voor gekozen om al bij stap 5 te factureren.',
  },
  {
    title: 'Kan ik zelf aanpassingen doen aan de website?',
    description:
      "Dat is niet nodig! Wij passen met liefde de website voor je aan, als dat nodig is. Het enige wat jij hoeft te doen, is een bericht te sturen met de aanpassing! Zijn het grote aanpassingen? Bij meer dan 30 minuten werk per maand, werken wij met ons uurtarief. Dit doen wij omdat wij een volledige ontzorging belangrijk vinden. Omdat jij het al druk genoeg hebt met ondernemen!",
  },
  {
    title: "Ben ik voor 100% de eigenaar van de website die jullie voor mij maken?",
    description:
      "Ja, nadat je de eenmalige kosten hebt betaald voor je website ben je hiervan 100% de eigenaar van. De enige uitzondering is de aanbieding voor Starters. In deze aanbieding ben je de eigenaar van het product nadat je abonnement minimaal twee jaar oud is bij ons. Wil je toch eerder weg? Dan kun je je product altijd afkopen. Het is wel belangrijk om te weten dat voor de Wordpress website betaalde plugins worden gebruikt, daar betalen wij dus jaarlijks voor. Mocht je je site willen overnemen, dan zijn deze kosten ook voor eigen beheer. ",
  },
  {
    title: "Moet ik de domeinregistratie zelf doen?",
    description:
      "Als je al een domein hebt gekocht, sluiten we de nieuwe website graag daar op aan. Heb je dit niet? Dan regelen wij graag de domeinnaam voor je. Geen extra kosten aan verbonden, alleen de kosten die wij betalen bij het aanschaffen van de domeinnaam.",
  },
  {
    title: "Hoe lang duurt het gemiddeld om een website te laten ontwikkelen?",
    description:
      "Bij het Premium pakket lukt het ons om gemiddeld binnen een maand de website live te hebben, mits er aan de klant kant geen vertraging is met het geven van feedback en opleveren van de inhoud (teksten en afbeeldingen). Bij het Pro pakket is het afhankelijk van de groote van de website. De kleinst mogelijk website is in ongeveer twee maanden live.",
  },
  {
    title: "Waarom zou ik voor Pro kiezen in plaats van Premium?",
    description:
      "Voor de meeste ondernemers is het Premium pakket ruim voldoende. Ook bij het Premium pakket krijg je een, voor het menselijk oog, snelle website. Wil je echt het verschil gaan maken op SEO gebied of wil je qua vormgeving net dat stapje extra? Dan is een Pro pakket aan te raden. De snelheid van deze website is razendsnel, wat belangrijk is voor SEO. En dan praten we over milisecondes, iets waar Google wel naar kijkt, maar het menselijk oog vaak niet merkt.",
  },
  {
    title: "Zorgen jullie voor zoekmachineoptimalisatie (SEO) tijdens het ontwikkelproces?",
    description:
      "Bij het Premium pakket worden er plugins geinstalleerd die de website sneller maken. Echter valt de snelheid, wat belangrijk is voor SEO, niet te vergelijken met een website van het Pro pakket. Bij het Pro pakket wordt er technisch rekening gehouden met SEO. Dat betekend dat wij de website zo maken dat deze razendsnel is en technisch goed in elkaar zit. Als je met je website echt wilt focussen op SEO, zijn naast de technische kant van de website nog een aantal dingen belangrijk. Alleen Technische SEO is dus niet genoeg om je website bovenaan in Google te krijgen op concurrerende zoekwoorden. Wij kunnen je helpen om een SEO strategie te ontwikkelen en toe te passen. Meer hierover vind je op de pagina <a href='/zoekmachine-optimalisatie-seo/' title='Meer informatie over Zoekmachine Optimalisatie SEO'class='text-link dark:text-link'>Zoekmachine optimalisatie (SEO)</a>"
  }
]}
/>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {
        "@type": "Question",
        "name": "Is een hosting en beheer pakket perse nodig?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Door ons hostingpakket kunnen wij er voor blijven zorgen dat je website optimaal blijft presteren. Hoewel wij het niet aanraden, kunnen wij ook een website voor je maken zonder hostingpakket. In dat geval gelden andere prijzen dan hierboven aangegeven."
        }
      },
      {
        "@type": "Question",
        "name": "Waarom factureren jullie al bij stap 5?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "In deze stap is de website technisch eigenlijk al klaar en wachten we alleen nog op de inhoud (teksten en afbeeldingen). Na deze stap zijn we afhankelijk van de klant die deze teksten en afbeeldingen aanlevert. Helaas zien we te vaak dat het best lang kan duren voordat we inhoud krijgen aangeleverd. Vaak omdat de klant het erg druk heeft, wat natuurlijk erg fijn is. Om hier financieel niet afhankelijk van te zijn, hebben we ervoor gekozen om al bij stap 5 te factureren."
        }
      },
      {
        "@type": "Question",
        "name": "Kan ik zelf aanpassingen doen aan de website?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Dat is niet nodig! Wij passen met liefde de website voor je aan, als dat nodig is. Het enige wat jij hoeft te doen, is een bericht te sturen met de aanpassing! Zijn het grote aanpassingen? Bij meer dan 30 minuten werk per maand, werken wij met ons uurtarief. Dit doen wij omdat wij een volledige ontzorging belangrijk vinden. Omdat jij het al druk genoeg hebt met ondernemen!"
        }
      },
      {
        "@type": "Question",
        "name": "Ben ik voor 100% de eigenaar van de website die jullie voor mij maken?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Ja, nadat je de eenmalige kosten hebt betaald voor je website ben je hiervan 100% de eigenaar van. De enige uitzondering is de aanbieding voor Starters. In deze aanbieding ben je de eigenaar van het product nadat je abonnement minimaal twee jaar actief is bij ons. Als je eerder wilt vertrekken, heb je de mogelijkheid om je product eerder af te kopen. Het is wel belangrijk om te weten dat voor de Wordpress website betaalde plugins worden gebruikt, daar betalen wij dus jaarlijks voor. Mocht je je site willen overnemen, dan zijn deze kosten ook voor eigen beheer."
        }
      },
      {
        "@type": "Question",
        "name": "Moet ik de domeinregistratie zelf doen?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Als je al een domein hebt gekocht, sluiten we de nieuwe website graag daar op aan. Heb je dit niet? Dan regelen wij graag de domeinnaam voor je. Geen extra kosten aan verbonden, alleen de kosten die wij betalen bij het aanschaffen van de domeinnaam."
        }
      },
      {
        "@type": "Question",
        "name": "Hoe lang duurt het gemiddeld om een website te laten ontwikkelen?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Bij het Premium pakket lukt het ons om gemiddeld binnen een maand de website live te hebben, mits er aan de klant kant geen vertraging is met het geven van feedback en opleveren van de inhoud (teksten en afbeeldingen). Bij het Pro pakket is het afhankelijk van de groote van de website. De kleinst mogelijk website is in ongeveer twee maanden live."
        }
      },
      {
        "@type": "Question",
        "name": "Waarom zou ik voor Pro kiezen in plaats van Premium?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Voor de meeste ondernemers is het Premium pakket ruim voldoende. Ook bij het Premium pakket krijg je een, voor het menselijk oog, snelle website. Wil je echt het verschil gaan maken op SEO gebied of wil je qua vormgeving net dat stapje extra? Dan is een Pro pakket aan te raden. De snelheid van deze website is razendsnel, wat belangrijk is voor SEO. En dan praten we over milisecondes, iets waar Google wel naar kijkt, maar het menselijk oog vaak niet merkt."
        }
      },
      {
        "@type": "Question",
        "name": "Zorgen jullie voor zoekmachineoptimalisatie (SEO) tijdens het ontwikkelproces?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Bij het Premium pakket worden er plugins geïnstalleerd die de website sneller maken. Echter valt de snelheid, wat belangrijk is voor SEO, niet te vergelijken met een website van het Pro pakket. Bij het Pro pakket wordt er technisch rekening gehouden met SEO. Dat betekent dat wij de website zo maken dat deze razendsnel is en technisch goed in elkaar zit. Als je met je website echt wilt focussen op SEO, zijn naast de technische kant van de website nog een aantal dingen belangrijk. Alleen Technische SEO is dus niet genoeg om je website bovenaan in Google te krijgen op concurrerende zoekwoorden. Wij kunnen je helpen om een SEO strategie te ontwikkelen en toe te passen. Meer hierover vind je op de pagina Zoekmachine optimalisatie (SEO)."
        }
      }
    ]
  }
  </script>
</Layout>
